apiVersion: v1
kind: ConfigMap
metadata:
  name: mas-agw-config
  namespace: default
data:
  config.yaml: |
    version: "1.0"
    resources:
      redis:
        - name: "default"
          address: "redis://redis.default.svc.cluster.local:6379/"
      databases:
        - name: "users-pg"
          type: "postgres"
          connection_string: "postgres://postgres:password@postgres.default.svc.cluster.local:5432/mydb"
        - name: "products-mysql"
          type: "mysql"
          connection_string: "mysql://root:password@mysql.default.svc.cluster.local:3306/mydb"
    listeners:
      - name: "http-listener"
        address: "0.0.0.0"
        port: 6188
        routes:
          - match: "/redis"
            cluster: "nginx-cluster"
            plugins:
              - name: "rate-limiter"
                wasm_path: "/etc/mas-agw/plugins/redis_demo.wasm"
          - match: "/db"
            cluster: "nginx-cluster"
            plugins:
              - name: "query-demo"
                wasm_path: "/etc/mas-agw/plugins/db_demo.wasm"
      - name: "https-listener"
        address: "0.0.0.0"
        port: 6443
        tls:
          secret_name: "my-tls-secret"
    clusters:
      - name: "nginx-cluster"
        endpoints:
          - address: "my-nginx.default.svc.cluster.local"
            port: 80
