apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: gatewayroutes.agw.masallsome.io
spec:
  group: agw.masallsome.io
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                match:
                  type: string
                  description: "URL path prefix to match."
                backend:
                  type: object
                  properties:
                    service_name:
                      type: string
                    port:
                      type: integer
                plugins:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      wasm_path:
                        type: string
                      config:
                        type: object
                        additionalProperties:
                          type: string
  scope: Namespaced
  names:
    plural: gatewayroutes
    singular: gatewayroute
    kind: GatewayRoute
    shortNames:
      - gr
