apiVersion: agw.masallsome.io/v1
kind: GatewayRoute
metadata:
  name: dynamic-route-demo
  namespace: default
spec:
  match: "/"
  backend:
    service_name: "my-nginx"
    port: 80
  plugins:
    - name: "header-check"
      wasm_path: "/etc/agw/plugins/deny_all.wasm"
      config:
        block_val: "curl"
